@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// variables
$cube-green: rgb(99, 250, 119);
$cube-orange: rgb(249, 128, 42);
$cube-blue: rgb(58, 194, 254);
$cube-red: rgb(236, 97, 100);
$cube-white: rgb(227, 227, 219);
$cube-yellow: rgb(203, 247, 76);

$white: #ffffff;

$grey-base-color: #9db2b7;

$page-grey: lighten($grey-base-color, 27%);
$container-grey: lighten($grey-base-color, 32.5%);
$dark-grey: darken($grey-base-color, 35%);
$dark-medium-grey: darken($grey-base-color, 25%);
$medium-grey: darken($grey-base-color, 11.5%);
$medium-light-grey: darken($grey-base-color, 0%);
$light-grey: lighten($grey-base-color, 3.75%);
$light-lightest-grey: lighten($grey-base-color, 11.5%);
$lightest-grey: lighten($grey-base-color, 19.25%);

// base sizes (similar to REM, but converts to px and includes one for border radii as well)
$base-size: 16;
$br-base-size: 4;

// return multiples of base sizes (default as px, can return just number instead)
@function bsize($coefficient, $in-px: true) {
  @if $in-px {
    @return #{$coefficient * $base-size}px;
  }
  @return $coefficient * $base-size;
}

@function br-bsize($coefficient, $in-px: true) {
  @if $in-px {
    @return #{$coefficient * $br-base-size}px;
  }
  @return $coefficient * $br-base-size;
}

// scrollbar sizes
$scrollbar-container-width: bsize(1.25, false);
$scrollbar-width: bsize(0.55, false);

// page sizes
$page-mobile-width: 1000px;
$page-phone-width: 650px;

// page size mixins
@mixin in-mobile {
  @media only screen and (min-width: #{$page-phone-width + 1px}) and (max-width: $page-mobile-width) {
    @content;
  }
}
@mixin in-phone {
  @media only screen and (max-width: $page-phone-width) {
    @content;
  }
}
@mixin in-mobile-and-phone {
  @media only screen and (max-width: $page-mobile-width) {
    @content;
  }
}

@mixin not-in-phone {
  @media only screen and (min-width: #{$page-phone-width + 1px}) {
    @content;
  }
}

@mixin not-in-mobile-and-phone {
  @media only screen and (min-width: #{$page-mobile-width + 1px}) {
    @content;
  }
}

// commonly used CSS lines as mixins
@mixin d-block-f-left {
  display: block;
  float: left;
}
@mixin db-fl {
  @include d-block-f-left;
}

@mixin d-inline-block-f-none-va-top {
  display: inline-block;
  float: none;
  vertical-align: top;
}
@mixin dib-fn-vt {
  @include d-inline-block-f-none-va-top;
}

@mixin margin-0 {
  margin: 0;
}
@mixin m0 {
  @include margin-0;
}

@mixin padding-0 {
  padding: 0;
}
@mixin p0 {
  @include padding-0;
}

// custom selection
::selection {
  background-color: rgba($medium-grey, 0.2);
}

// default outline
* {
  outline-color: $light-lightest-grey;
}

// default hr styles
hr {
  border: none;
  border-top: 1px solid $page-grey;
  width: 100%;
}

// custom scrollbar
::-webkit-scrollbar {
  width: #{$scrollbar-container-width}px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $lightest-grey;
  border-radius: #{$scrollbar-container-width}px;
  border: #{($scrollbar-container-width - $scrollbar-width) / 2}px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $light-grey;
}

// body scrollbar is darker
body::-webkit-scrollbar-thumb {
  background-color: $light-lightest-grey;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: $medium-light-grey;
}
