body .container .col {
  // first column with move buttons and logo bar
  &:nth-child(1) {
    display: flex;
    flex-direction: column;

    // logo bar
    .logo {
      flex-basis: bsize(3.25);
      padding: 0 bsize(0.5) bsize(0.75) bsize(0.5);
      border-bottom: 1px solid $page-grey;

      @include in-mobile-and-phone {
        height: bsize(3);
        padding-bottom: bsize(0.5);
        text-align: center;
      }

      & > * {
        @include dbfl;

        @include in-mobile-and-phone {
          @include dibfnvt;
        }
      }

      img {
        height: bsize(2.5);
        width: auto;
        margin-right: bsize(1);
        @include in-mobile-and-phone {
          margin-right: bsize(0.625);
        }
      }

      h1 {
        @include m0;
        line-height: bsize(2.5);
        font-size: bsize(1.35);
        color: $dark-medium-grey;
        font-weight: 500;

        @include in-mobile-and-phone {
          font-size: bsize(1.25);

          // padding to compensate for centering to make text seem more centered
          padding-right: bsize(1.5);
        }
      }
    }

    // moves list
    .moves {
      flex-basis: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin: bsize(1.5) 0 0 0;

      @include in-mobile-and-phone {
        margin: bsize(0.75) 0 0 0;
      }

      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: bsize(3);

        list-style: none;
        @include p0;
        @include m0;

        li {
          color: $dark-grey;

          &:not(:last-child) {
            margin-right: bsize(1.5);
          }

          & > * {
            @include dbfl;
            margin: 0;
            height: bsize(3);
            line-height: bsize(3);
          }

          button {
            margin-right: bsize(0.75);
            border: 1px solid transparent;
            background-color: lighten($page-grey, 1.5%);
            color: inherit;
            padding: 0 bsize(1);
            border-radius: br-bsize(2);
            font-size: bsize(1.15);
            outline: none;
            cursor: pointer;
            box-shadow: 0 bsize(0.05) bsize(0.2) rgba($dark-grey, 0.35);

            $transition-duration: 0.1s;
            $transition-timing: ease-in-out;

            transition: box-shadow $transition-duration $transition-timing, background-color $transition-duration $transition-timing,
              transform $transition-duration $transition-timing;

            &:hover {
              transform: translateY(-1px);
              box-shadow: 0 bsize(0.1) bsize(0.4) rgba($dark-grey, 0.45);
            }
            &:active {
              transform: translateY(0);
              background-color: darken($page-grey, 2.5%);
            }
          }

          p {
            opacity: 0.5;

            strong {
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  // second column with images
  &:nth-child(2) {
    background-color: lighten($page-grey, 2%);
    display: flex;
    flex-direction: column;

    // each row is an image with a caption
    .row {
      flex-basis: 50%;
      flex-shrink: 1;
      width: 100%;
      position: relative;
      border-radius: br-bsize(1);
      overflow: hidden;
      font-size: 0;

      @include in-mobile-and-phone {
        height: auto;
        max-height: bsize(25);
      }

      &:not(:last-child) {
        margin-bottom: bsize(1.5);

        @include in-phone {
          margin-bottom: bsize(0.75);
        }
      }

      img.cube-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: darken($container-grey, 10%);
      }

      .caption {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: bsize(0.75);
        color: $lightest-grey;
        background-color: rgba($dark-medium-grey, 0.625);
        border-top-left-radius: br-bsize(1);
        margin: 0;
        padding: 0 bsize(0.5);
        height: bsize(1.5);
        line-height: bsize(1.65);
      }
    }
  }
}
