    // moves list
    .moves {
      flex-basis: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin: bsize(1.5) 0 0 0;

      @include in-mobile-and-phone {
        margin: bsize(0.75) 0 0 0;
      }

      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: bsize(3);

        list-style: none;
        @include p0;
        @include m0;

        @include in-mobile-and-phone {
          &:not(:last-child) {
            margin-bottom: bsize(1.5);

            @include in-phone {
              margin-bottom: bsize(0.75);
            }
          }
        }

        li {
          color: $dark-grey;

          @include in-phone {
            flex-basis: 100%;
          }

          &:not(:last-child) {
            margin-right: bsize(1.5);

            @include in-phone {
              margin-right: bsize(0.75);
            }
          }

          & > * {
            @include db-fl;
            margin: 0;
            height: bsize(3);
            line-height: bsize(3);

            @media only screen and (max-width: 530px), (min-width: #{$page-mobile-width + 1px}) and (max-width: 1075px) {
              clear: both;
            }
          }

          button {
            margin-right: bsize(0.75);
            border: 1px solid transparent;
            background-color: lighten($page-grey, 1.5%);
            color: inherit;
            text-align: center;
            width: bsize(3);
            border-radius: br-bsize(2);
            font-size: bsize(1.15);
            outline: none;
            cursor: pointer;
            box-shadow: 0 bsize(0.05) bsize(0.2) rgba($dark-grey, 0.35);

            $transition-duration: 0.1s;
            $transition-timing: ease-in-out;

            transition: box-shadow $transition-duration $transition-timing, background-color $transition-duration $transition-timing,
              transform $transition-duration $transition-timing;

            &:hover {
              transform: translateY(-1px);
              box-shadow: 0 bsize(0.1) bsize(0.4) rgba($dark-grey, 0.45);
            }
            &:active,
            &:focus {
              transform: translateY(0);
              background-color: darken($page-grey, 2.5%);
            }

            @include in-phone {
              width: 100%;
            }
          }

          p {
            opacity: 0.5;

            strong {
              font-weight: 500;
            }

            @include in-phone {
              display: none;
            }
          }
        }
      }
    }
  }

}
