.columned-page {
  display: flex;
  color: $dark-medium-grey;

  @include in-mobile-and-phone {
    flex-direction: column;
  }

  .column {
    flex: 1 1 40%;
    overflow-y: scroll;
    text-align: center;
    padding: bsize(1.5);

    @include in-mobile-and-phone {
      flex-basis: 100% !important;
      padding: bsize(1);
      padding-bottom: bsize(1.5);
    }
    &:first-child {
      background-color: lighten($page-grey, 2%);
      .new-scramble {
        margin-top: bsize(0.75);
        background-color: #fff;
        // background-color: #2188ff;
        // color: #fff;
        padding: 0 bsize(1);
        height: bsize(2.5);
        line-height: bsize(2.5);
        font-size: bsize(1);
        border-radius: br-bsize(1.25);
      }
      .scramble-moves-container {
        margin-top: bsize(0.5);
        text-align: center;
        width: 100%;
        & > * {
          display: inline-block;
        }
        input {
          width: bsize(4);
          text-align: center;
          border: 1px solid $light-grey;
          border-radius: 4px;
          color: $dark-grey;
          opacity: 0.8;
          outline: none;
          margin: 0 bsize(0.5);
          padding: bsize(0.25) 0;
          display: inline-block;
          transition: opacity 0.2s;

          &:focus {
            opacity: 1;
          }
        }
      }
    }
    &:last-child {
      padding-bottom: 0;
      flex-basis: 60%;
      .title {
        margin-bottom: bsize(1);
      }
      .moves {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(bsize(15), 1fr));
        grid-gap: bsize(1.5);

        & > .move-container {
          &:last-child {
            margin-bottom: bsize(1.5);
          }
          .move-cube {
            height: bsize(14);
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .info {
            display: flex;
            justify-content: center;
            text-transform: capitalize;

            & > * {
              height: bsize(1.5);
              line-height: bsize(1.5);
            }
            .notation,
            .face-view {
              margin-right: bsize(0.25);
              font-weight: 500;
            }
            .number {
              margin-right: bsize(1.25);
            }
            .move-badge {
              margin-left: bsize(1.25);
            }
          }
        }

        .cube-container,
        .cube-container * {
          font-size: bsize(0.75) !important;
        }
        .cube-container > .cube > .face {
          --margin: 0.6em !important;
        }
      }
    }
  }
}
