.page.scrambler {
  display: flex;
  color: $dark-medium-grey;

  @include in-mobile-and-phone {
    flex-direction: column;
  }

  .title {
    font-size: bsize(2);
    font-weight: 500;
    color: $dark-grey;
    margin: 0;
    text-align: center;
    margin-top: bsize(1);
  }

  .column {
    flex: 1 1 40%;
    overflow-y: scroll;
    text-align: center;
    padding: bsize(1.5);

    @include in-mobile-and-phone {
      flex-basis: 100% !important;
      padding: bsize(1);
      padding-bottom: bsize(1.5);
    }
    &:first-child {
      background-color: lighten($page-grey, 2%);

      .cube-area {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $lightest-grey;
        border-radius: 4px;
        margin: bsize(1.5) 0;
        background-color: lighten($page-grey, 5%);

        &.hidden {
          display: none;
        }
      }
      .center-cube {
        height: bsize(19);
        width: bsize(19);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0.95);
      }

      .tip {
        text-align: center;
        color: $medium-grey;
        opacity: 0.7;
        font-size: bsize(0.8);
      }
      .scramble-notation {
        width: 100%;
        text-align: center;
        padding: 0 bsize(1);
        font-size: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(bsize(4), 1fr));
        grid-gap: bsize(0.15);
        margin-bottom: bsize(1);
      }
      .active-move {
        display: flex;
        justify-content: center;
        padding-bottom: bsize(0.5);

        & > * {
          height: bsize(2);
          line-height: bsize(2);
          margin: 0 !important;

          &:not(:last-child) {
            margin-right: bsize(0.75) !important;
          }
          &.move-number {
            margin-right: bsize(0.25) !important;
          }
          &.move,
          &.move * {
            line-height: bsize(1.5) !important;
          }
        }
        button {
          border: none;
          background-color: transparent;
          opacity: 0.5;
          cursor: pointer;
          transition: opacity 0.2s;
          padding: 0 bsize(0.1);

          &.disabled {
            pointer-events: none;
            opacity: 0.1;
          }

          &:hover {
            opacity: 1;
          }

          i {
            transform: translateY(bsize(0.1));
            font-size: bsize(1);
            color: $dark-medium-grey;
          }
        }
      }
      .scramble-notation button,
      .cube-area .active-move .move {
        text-align: left;
        font-size: bsize(0.9);
        margin-top: bsize(0.35);
        margin-right: bsize(0.35);
        border: none;
        padding: bsize(0.25) bsize(0.5);
        border-radius: 4px;
        color: $dark-grey;
        line-height: 1.2;
        position: relative;

        &:not(.not-button) {
          cursor: pointer;
          background-color: lighten($lightest-grey, 9%);
          transition: background-color 0.15s;
        }
        &.not-button {
          border: 1px solid lighten($lightest-grey, 0%);
          width: bsize(4);
        }

        &:not(.not-button):hover {
          background-color: lighten($lightest-grey, 5%);
        }
        &.active {
          background-color: lighten($lightest-grey, 0%) !important;
        }

        * {
          line-height: 1.2;
          display: inline-block;
        }

        .number {
          display: none;
        }
        .move-badge {
          position: absolute;
          right: bsize(0.1);
          top: 50%;
          transform: translateY(-50%) scale(0.85);
          box-shadow: 0 0 bsize(0.3) rgba(0, 0, 0, 0.1);
        }
        .face-view {
          display: none;
        }
      }
      .new-scramble {
        margin-top: bsize(0.75);
        border: none;
        background-color: #2188ff;
        padding: bsize(0.65) bsize(0.85);
        color: #fff;
        border-radius: 4px;
        transition: background-color 0.2s, box-shadow 0.2s;
        cursor: pointer;
        outline: none;
        line-height: 1.1;
        display: inline-block;

        &:hover {
          background-color: #2166ff;
        }
        &:active,
        &:focus {
          background-color: #2166ff;
          box-shadow: 0 0 0 bsize(0.2) rgba(33, 102, 255, 0.35);
        }
      }
      .scramble-moves-container {
        margin-top: bsize(0.5);
        text-align: center;
        width: 100%;
        & > * {
          display: inline-block;
        }
        input {
          width: bsize(4);
          text-align: center;
          border: 1px solid $light-grey;
          border-radius: 4px;
          color: $dark-grey;
          opacity: 0.8;
          outline: none;
          margin: 0 bsize(0.5);
          padding: bsize(0.25) 0;
          display: inline-block;
          transition: opacity 0.2s;

          &:focus {
            opacity: 1;
          }
        }
      }
    }
    &:last-child {
      padding-bottom: 0;
      flex-basis: 60%;
      .title {
        margin-bottom: bsize(1);
      }
      .moves {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(bsize(15), 1fr));
        grid-gap: bsize(1.5);

        & > .move-container {
          &:last-child {
            margin-bottom: bsize(1.5);
          }
          .move-cube {
            height: bsize(14);
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .info {
            display: flex;
            justify-content: center;
            text-transform: capitalize;

            & > * {
              height: bsize(1.5);
              line-height: bsize(1.5);
            }
            .notation,
            .face-view {
              margin-right: bsize(0.25);
              font-weight: 500;
            }
            .number {
              margin-right: bsize(1.25);
            }
            .move-badge {
              margin-left: bsize(1.25);
            }
          }
        }

        .cube-container,
        .cube-container * {
          font-size: bsize(0.75) !important;
        }
        .cube-container > .cube > .face {
          --margin: 0.6em !important;
        }
      }
    }
  }
}
