.page.solver {
  .set-pieces {
    padding: 0 bsize(2);
  }

  &:not(.solving) {
    .second-column > .title span:last-child {
      display: none;
    }
    .second-column.moves {
      display: none;
    }
    .scramble-notation,
    .active-move {
      display: none;
    }
  }
  &.solving {
    .second-column > .title span:first-child {
      display: none;
    }
    .second-column.set-pieces {
      display: none;
    }
  }
}
