@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
::selection {
  background-color: rgba(123, 151, 158, 0.2); }

* {
  outline-color: #bfcdd0; }

hr {
  border: none;
  border-top: 1px solid #ecf0f1;
  width: 100%; }

body .not-displayed {
  display: none; }

* {
  box-sizing: border-box;
  font-family: inherit; }

body {
  background-color: #ecf0f1;
  padding: 12px;
  padding-top: 68px;
  height: 100vh;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --full-height: 100vh; }
  @media only screen and (max-width: 1000px) {
    body {
      height: auto; } }

@keyframes page-enter {
  0% {
    opacity: 0;
    transform: scale(0.9); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.page {
  background-color: #fdfdfd;
  flex-basis: 100%;
  border-radius: 6px;
  box-shadow: 0 4px 28px rgba(123, 151, 158, 0.25);
  border: 1px solid #d6dee1;
  overflow: hidden;
  margin-right: 0;
  transition: margin-right ease-in-out 0.35s, width ease-in-out 0.35s;
  animation-name: page-enter;
  animation-duration: 0;
  animation-fill-mode: both;
  width: 100%; }
  .page:not(.active) {
    display: none !important; }
  @media only screen and (min-width: 1321px) {
    body.log-open .page {
      margin-right: 320px;
      width: calc(100% - 320px); } }

.container {
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 1000px) {
    .container {
      flex-direction: column; } }

.container > .col {
  padding: 24px;
  flex: 1 1 35%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 650px) {
    .container > .col {
      padding: 12px; } }

.container > .col:first-child {
  flex-basis: 65%;
  padding: 24px 24px 0 24px;
  padding-top: 12px; }
  @media only screen and (max-width: 650px) {
    .container > .col:first-child {
      padding: 12px 12px 0 12px; } }
  .container > .col:first-child > *:last-child {
    padding-bottom: 24px; }
    @media only screen and (max-width: 650px) {
      .container > .col:first-child > *:last-child {
        padding-bottom: 12px; } }

.page.full-height {
  height: calc(var(--full-height) - 56px - 24px); }

.page.construction {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://cdn.pixabay.com/photo/2019/03/14/22/12/blueprint-4056027_1280.jpg);
  background-size: cover;
  background-position: center;
  min-height: 30rem;
  padding: 0 2rem; }
  @media only screen and (max-width: 1000px) {
    .page.construction * {
      zoom: 60%; } }

.page.construction * {
  text-align: center;
  text-shadow: 0 0.15rem 0.6rem rgba(0, 0, 0, 0.75); }

.page.construction h1 {
  font-size: 3.5rem;
  color: #ffffff;
  margin-bottom: 0.75rem;
  letter-spacing: 0.025rem;
  text-transform: uppercase; }

.page.construction p {
  margin-top: 0.75rem;
  font-size: 1.25rem;
  color: #ffffff;
  opacity: 0.7; }

.container > .col:nth-child(2) {
  background-color: #f2f5f6; }
  .container > .col:nth-child(2) > .row {
    flex-basis: 50%;
    flex-shrink: 1;
    width: 100%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    font-size: 0; }
    @media only screen and (max-width: 1000px) {
      .container > .col:nth-child(2) > .row {
        height: 320px;
        flex-basis: 320px; } }
    .container > .col:nth-child(2) > .row:not(:last-child) {
      margin-bottom: 24px; }
      @media only screen and (max-width: 650px) {
        .container > .col:nth-child(2) > .row:not(:last-child) {
          margin-bottom: 12px; } }
    .container > .col:nth-child(2) > .row > .cube-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
      display: flex;
      flex-direction: column; }
    .container > .col:nth-child(2) > .row .rotate-arrows img {
      position: absolute;
      width: 7rem;
      height: auto;
      opacity: 1;
      transition: opacity 0.2s;
      transform: translate(-50%, -50%); }
      .container > .col:nth-child(2) > .row .rotate-arrows img.top-face {
        bottom: 62%;
        left: 50%; }
      .container > .col:nth-child(2) > .row .rotate-arrows img:hover {
        opacity: 1; }
    .container > .col:nth-child(2) > .row .caption {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 12px;
      color: #d6dee1;
      background-color: rgba(236, 240, 241, 0.15);
      border-top-left-radius: 4px;
      margin: 0;
      padding: 0 8px;
      height: 24px;
      line-height: 26.4px; }

.col:first-child .logo {
  flex-basis: 52px;
  padding: 0 8px 10px 8px;
  border-bottom: 1px solid #ecf0f1;
  margin-bottom: 12px; }
  @media only screen and (max-width: 1000px) {
    .col:first-child .logo {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 8px;
      text-align: center;
      zoom: 90%; } }
  .col:first-child .logo > * {
    display: block;
    float: left; }
    @media only screen and (max-width: 1000px) {
      .col:first-child .logo > * {
        display: inline-block;
        float: none;
        vertical-align: top; } }
  .col:first-child .logo img {
    box-sizing: content-box;
    height: 20px;
    margin-top: 10px;
    width: auto;
    margin-right: 12px; }
    @media only screen and (max-width: 1000px) {
      .col:first-child .logo img {
        display: none; } }
  .col:first-child .logo h1 {
    margin: 0;
    height: 40px;
    line-height: 42.4px;
    font-size: 18.4px;
    color: #5a747b;
    font-weight: 500; }
    @media only screen and (max-width: 1000px) {
      .col:first-child .logo h1 {
        display: none; } }
  .col:first-child .logo .logo-buttons {
    display: block;
    float: right; }
    @media only screen and (max-width: 1000px) {
      .col:first-child .logo .logo-buttons {
        float: none;
        text-align: center; } }

@media only screen and (max-width: 650px) {
  .col:first-child .logo .logo-buttons {
    display: flex; }
    .col:first-child .logo .logo-buttons .phone-no-display {
      display: none; } }

.col:first-child .logo .logo-buttons > * {
  padding: 0 12px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  border-radius: 5px;
  color: #44585d;
  display: block;
  margin: 2px auto;
  display: inline-block;
  float: none;
  vertical-align: top; }
  .col:first-child .logo .logo-buttons > *:not(:last-child) {
    margin-right: 8px; }
  @media only screen and (max-width: 650px) {
    .col:first-child .logo .logo-buttons > * {
      flex-basis: 100%; } }
  .col:first-child .logo .logo-buttons > * i {
    margin-right: 4px;
    width: 20px; }

.col:first-child .logo .logo-buttons .toggle-log span:not(.displayed) {
  display: none; }

.col:first-child .logo .logo-buttons .toggle-log.log-open span.open {
  display: inline; }

.col:first-child .logo .logo-buttons .toggle-log:not(.log-open) span.closed {
  display: inline; }

.col:first-child .logo .logo-buttons .toggle-notation span {
  display: none; }

body.use-face-view .col:first-child .logo .logo-buttons .toggle-notation span.face-view {
  display: inline; }

body:not(.use-face-view) .col:first-child .logo .logo-buttons .toggle-notation span.cube-notation {
  display: inline; }

.openable-section.closed .content {
  max-height: 0; }

.openable-section.closed .label .icon {
  transform: translateY(-50%) rotate(-90deg); }

.openable-section .label {
  position: relative;
  cursor: pointer;
  height: 56px;
  width: 100%;
  border: none;
  margin-bottom: 2px;
  padding: 4px 13.6px;
  background-color: transparent;
  color: #44585d;
  box-shadow: 0 1px 0 #dee5e7; }
  .openable-section .label i {
    width: 20px;
    text-align: center;
    margin-right: 8px; }
  .openable-section .label::after {
    content: '';
    clear: both; }
  .openable-section .label > * {
    display: block;
    float: left;
    margin: 0;
    height: 48px;
    line-height: 49px;
    font-size: 18.4px; }
  .openable-section .label .icon {
    position: absolute;
    top: 50%;
    right: 13.6px;
    font-size: 21.6px;
    transform: translateY(-45%);
    transition: transform 0.25s; }
  @media only screen and (max-width: 650px) {
    .openable-section .label {
      padding: 4px 10.4px;
      height: 40px; }
      .openable-section .label > * {
        height: 32px;
        line-height: 33px;
        font-size: 16px; }
      .openable-section .label .icon {
        font-size: 17.6px;
        line-height: 36.8px; } }

.openable-section .content {
  --current-height: 0;
  transition: max-height 0.25s ease-in-out, opacity 0.25s ease-in-out;
  overflow: hidden;
  height: auto;
  max-height: var(--current-height); }
  .openable-section .content > * {
    padding-left: 7.2px;
    padding-right: 7.2px;
    box-sizing: border-box; }

.col:first-child .moves .content .move-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  padding-bottom: 7.2px; }
  @media only screen and (max-width: 1000px) {
    .col:first-child .moves .content .move-buttons {
      margin-top: 12px; } }
  .col:first-child .moves .content .move-buttons .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 48px;
    list-style: none;
    padding: 0;
    margin: 0; }
    @media only screen and (max-width: 650px) {
      .col:first-child .moves .content .move-buttons .row {
        min-height: 40px; } }
    .col:first-child .moves .content .move-buttons .row:not(:last-child) {
      margin-bottom: 24px; }
      @media only screen and (max-width: 650px) {
        .col:first-child .moves .content .move-buttons .row:not(:last-child) {
          margin-bottom: 12px; } }
    .col:first-child .moves .content .move-buttons .row li {
      color: #44585d;
      flex-basis: 100%;
      display: flex;
      flex-direction: row; }
      .col:first-child .moves .content .move-buttons .row li:not(:last-child) {
        margin-right: 24px; }
        @media only screen and (max-width: 650px) {
          .col:first-child .moves .content .move-buttons .row li:not(:last-child) {
            margin-right: 12px; } }
      .col:first-child .moves .content .move-buttons .row li > * {
        display: block;
        float: left;
        margin: 0;
        height: 48px;
        line-height: 48px; }
        @media only screen and (max-width: 530px), (min-width: 1001px) and (max-width: 1075px) {
          .col:first-child .moves .content .move-buttons .row li > * {
            clear: both; } }
      .col:first-child .moves .content .move-buttons .row li button {
        flex-basis: 48px;
        position: relative; }
        @media only screen and (max-width: 650px) {
          .col:first-child .moves .content .move-buttons .row li button {
            flex-basis: 100%;
            height: 40px;
            line-height: 40px; } }
        body:not(.use-face-view) .col:first-child .moves .content .move-buttons .row li button .rotate_icon {
          display: none; }
        .col:first-child .moves .content .move-buttons .row li button .rotate_icon {
          width: auto;
          height: 75%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
        body.use-face-view .col:first-child .moves .content .move-buttons .row li button {
          background-size: 85%;
          background-position: center;
          background-repeat: no-repeat; }
          body.use-face-view .col:first-child .moves .content .move-buttons .row li button:active, body.use-face-view .col:first-child .moves .content .move-buttons .row li button:focus {
            box-shadow: 0 1.2px 5.6px rgba(68, 88, 93, 0.4); }
          body.use-face-view .col:first-child .moves .content .move-buttons .row li button span {
            display: none; }
          body.use-face-view .col:first-child .moves .content .move-buttons .row li button.red {
            background-color: #ec6164; }
          body.use-face-view .col:first-child .moves .content .move-buttons .row li button.green {
            background-color: #4af961; }
          body.use-face-view .col:first-child .moves .content .move-buttons .row li button.blue {
            background-color: #3ac2fe; }
          body.use-face-view .col:first-child .moves .content .move-buttons .row li button.white {
            background-color: #e3e3db; }
          body.use-face-view .col:first-child .moves .content .move-buttons .row li button.yellow {
            background-color: #cef756; }
          body.use-face-view .col:first-child .moves .content .move-buttons .row li button.orange {
            background-color: #f9802a; }
          body.use-face-view .col:first-child .moves .content .move-buttons .row li button.clockwise .rotate_icon.counterclockwise {
            display: none; }
          body.use-face-view .col:first-child .moves .content .move-buttons .row li button.counterclockwise .rotate_icon.clockwise {
            display: none; }
          body.use-face-view .col:first-child .moves .content .move-buttons .row li button.yellow .rotate_icon:not(.dark), body.use-face-view .col:first-child .moves .content .move-buttons .row li button.white .rotate_icon:not(.dark) {
            display: none; }
          body.use-face-view .col:first-child .moves .content .move-buttons .row li button:not(.yellow):not(.white) .rotate_icon.dark {
            display: none; }
      .col:first-child .moves .content .move-buttons .row li p {
        padding-left: 12px;
        opacity: 0.5;
        font-weight: 500; }
        body:not(.use-face-view) .col:first-child .moves .content .move-buttons .row li p .face-view,
        body.use-face-view .col:first-child .moves .content .move-buttons .row li p .notation-view {
          display: none; }
        @media only screen and (max-width: 650px) {
          .col:first-child .moves .content .move-buttons .row li p {
            display: none; } }

ul.misc-buttons {
  color: #44585d;
  list-style: none;
  padding: 0;
  margin: 16px 0; }
  @media only screen and (max-width: 1000px) {
    ul.misc-buttons {
      margin: 12px 0; } }
  @media only screen and (max-width: 650px) {
    ul.misc-buttons {
      display: flex;
      flex-direction: row;
      margin-bottom: 0; }
      ul.misc-buttons + hr {
        display: none; } }
  ul.misc-buttons li {
    min-height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    @media only screen and (max-width: 650px) {
      ul.misc-buttons li {
        flex-basis: 100%; } }
    ul.misc-buttons li:not(:last-child) {
      margin-bottom: 16px; }
      @media only screen and (max-width: 650px) {
        ul.misc-buttons li:not(:last-child) {
          margin-bottom: 1px;
          margin-right: 12px; } }
    ul.misc-buttons li button {
      padding: 0 12px;
      height: 36px;
      line-height: 36px;
      font-size: 16px;
      border-radius: 5px; }
      @media only screen and (max-width: 650px) {
        ul.misc-buttons li button {
          flex-basis: 100%; }
          ul.misc-buttons li button span.mobile-no-display {
            display: none; } }
    ul.misc-buttons li p {
      flex-basis: 0%;
      flex-grow: 1;
      transform: translateY(1px);
      min-height: 36px;
      font-size: 14.4px;
      padding: 6px 0 6px 16px;
      line-height: 24px;
      margin: 0;
      opacity: 0.55;
      overflow: hidden; }
      @media only screen and (max-width: 650px) {
        ul.misc-buttons li p {
          display: none; } }

.styled-title {
  font-size: 32px;
  font-weight: 500;
  color: #44585d;
  margin: 0;
  text-align: center;
  margin-top: 16px; }

.styled-button {
  border: 1px solid transparent;
  background-color: #f1f4f5;
  color: inherit;
  text-align: center;
  border-radius: 8px;
  font-size: 18.4px;
  outline: none;
  box-shadow: 0 0.8px 3.2px rgba(68, 88, 93, 0.35);
  position: relative;
  backface-visibility: hidden;
  transition: box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out, transform 0.1s ease-in-out, opacity 0.1s ease-in-out; }
  .styled-button:not([disabled]) {
    cursor: pointer; }
    @media (hover: hover) and (pointer: fine) {
      .styled-button:not([disabled]):hover {
        transform: translateY(-1px);
        box-shadow: 0 1.6px 6.4px rgba(68, 88, 93, 0.45); } }
    .styled-button:not([disabled]):active, .styled-button:not([disabled]):focus {
      transform: translateY(0);
      background-color: #e5ebec; }
  .styled-button i {
    margin-right: 8px;
    width: 24px;
    text-align: center; }
    @media only screen and (max-width: 650px) {
      .styled-button i {
        display: none; } }
  .styled-button.loading {
    touch-action: none;
    pointer-events: none;
    opacity: 0.5;
    color: transparent !important; }

@keyframes loading-spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }
    .styled-button.loading:before {
      content: '';
      width: 16px;
      height: 16px;
      border: 2px solid transparent;
      border-left-color: #44585d;
      border-top-color: #44585d;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      animation: loading-spin 0.65s linear 0s infinite;
      border-radius: 50%; }

.set-pieces .content .faces-row {
  height: 160px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .set-pieces .content .faces-row:last-child {
    margin-bottom: 24px; }
  @media screen and (max-width: 880px) {
    .set-pieces .content .faces-row {
      zoom: 75%; } }
  @media screen and (max-width: 750px) {
    .set-pieces .content .faces-row {
      zoom: 65%; } }
  @media screen and (max-width: 650px) {
    .set-pieces .content .faces-row {
      zoom: 50%; } }
  .set-pieces .content .faces-row .face {
    height: 160px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .set-pieces .content .faces-row .face .row {
      flex-basis: 47.2px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .set-pieces .content .faces-row .face .row .piece {
        flex-basis: 47.2px;
        height: 47.2px;
        border-radius: 8px;
        position: relative;
        padding: 0;
        transition: box-shadow 0.1s ease-in-out, opacity 0.1s ease-in-out, transform 0.1s ease-in-out; }
        .set-pieces .content .faces-row .face .row .piece:disabled {
          opacity: 0.5; }
        .set-pieces .content .faces-row .face .row .piece i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #ffffff;
          margin-left: 0 !important;
          margin-right: 0 !important;
          margin-top: 3.52px;
          width: 100%;
          text-align: center;
          font-size: 28px;
          line-height: 1.25;
          opacity: 0;
          transition: opacity 0.1s ease-in-out; }
        .set-pieces .content .faces-row .face .row .piece[color='green'] {
          background-color: #4af961; }
        .set-pieces .content .faces-row .face .row .piece[color='red'] {
          background-color: #ec6164; }
        .set-pieces .content .faces-row .face .row .piece[color='orange'] {
          background-color: #f9802a; }
        .set-pieces .content .faces-row .face .row .piece[color='white'] {
          background-color: #e3e3db; }
          .set-pieces .content .faces-row .face .row .piece[color='white'] i {
            color: #404032; }
        .set-pieces .content .faces-row .face .row .piece[color='blue'] {
          background-color: #3ac2fe; }
        .set-pieces .content .faces-row .face .row .piece[color='yellow'] {
          background-color: #cef756; }
          .set-pieces .content .faces-row .face .row .piece[color='yellow'] i {
            color: #4b6304; }
        @media (hover: hover) and (pointer: fine) {
          .set-pieces .content .faces-row .face .row .piece:not(:disabled):hover {
            opacity: 0.85; }
            .set-pieces .content .faces-row .face .row .piece:not(:disabled):hover i {
              opacity: 1; } }
        .set-pieces .content .faces-row .face .row .piece:not(:disabled):active {
          opacity: 1; }
      .set-pieces .content .faces-row .face .row:nth-child(1) .piece:nth-child(1) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0; }
      .set-pieces .content .faces-row .face .row:nth-child(1) .piece:nth-child(2) {
        border-top-left-radius: 0;
        border-top-right-radius: 0; }
      .set-pieces .content .faces-row .face .row:nth-child(1) .piece:nth-child(3) {
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0; }
      .set-pieces .content .faces-row .face .row:nth-child(2) .piece:nth-child(1) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
      .set-pieces .content .faces-row .face .row:nth-child(2) .piece:nth-child(3) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0; }
      .set-pieces .content .faces-row .face .row:nth-child(3) .piece:nth-child(1) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
      .set-pieces .content .faces-row .face .row:nth-child(3) .piece:nth-child(2) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
      .set-pieces .content .faces-row .face .row:nth-child(3) .piece:nth-child(3) {
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }

@media only screen and (max-width: 320px) {
  body.log-open {
    overflow: hidden; } }

.log {
  position: fixed;
  right: 0;
  top: 0;
  padding: 24px;
  padding-top: 0;
  height: var(--full-height);
  background-color: #fdfdfd;
  flex-basis: 320px;
  width: 320px;
  border-left: 1px solid #d6dee1;
  overflow-y: auto;
  z-index: 9999;
  transform: translate3d(320px, 0, 0);
  transition: transform ease-in-out 0.35s, box-shadow ease-in-out 0.35s; }
  @media only screen and (max-width: 320px) {
    .log {
      flex-basis: 100%;
      width: 100%;
      transform: translate3d(100%, 0, 0); } }
  .log.open {
    transform: translate3d(0, 0, 0) !important;
    box-shadow: 0 8px 36px rgba(68, 88, 93, 0.25); }
  .log .top {
    border-bottom: 1px solid #ecf0f1;
    margin-bottom: 12px;
    padding-top: 24px;
    padding-bottom: 12px;
    position: sticky;
    top: 0;
    background-color: #fdfdfd;
    z-index: 9999; }
    .log .top > * {
      margin: 0; }
    .log .top button {
      border: none;
      background-color: transparent;
      fill: #bfcdd0;
      cursor: pointer;
      padding: 4px 0;
      position: absolute;
      top: 24px;
      left: 0;
      height: 32px; }
      .log .top button:hover {
        fill: #5a747b; }
    .log .top h1 {
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      color: #44585d;
      font-weight: 500; }
      @media only screen and (max-width: 1000px) {
        .log .top h1 {
          font-size: 20px; } }
  .log .log-items {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #5a747b; }
    .log .log-items li:not(:last-child) {
      margin-bottom: 18.4px; }
    .log .log-items li:not(.marker) {
      min-height: 32px;
      line-height: 24px;
      font-size: 16px;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 44px;
      padding-right: 4px;
      background-size: 20.8px auto;
      background-position: 5.6px 5.6px;
      background-repeat: no-repeat; }
      .log .log-items li:not(.marker) > * {
        min-height: 24px;
        display: block;
        float: left; }
      .log .log-items li:not(.marker) > .move-badge {
        min-width: 24px; }
      body.use-face-view .log .log-items li:not(.marker) .cube-notation {
        display: none; }
      body:not(.use-face-view) .log .log-items li:not(.marker) .face-view,
      body:not(.use-face-view) .log .log-items li:not(.marker).computer .times {
        display: none; }
      .log .log-items li:not(.marker) .move-badge {
        transform: scale(1.1);
        float: right;
        margin-left: 8px; }
    .log .log-items .marker {
      position: relative;
      height: 24px;
      color: #5a747b;
      text-align: center; }
      .log .log-items .marker span {
        height: 24px;
        display: inline-block;
        line-height: 24px;
        padding: 0 16px;
        color: #9db2b7;
        background-color: #fdfdfd; }
      .log .log-items .marker:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        top: 50%;
        left: 0;
        background-color: #d6dee1;
        z-index: -1; }
  .log .move-count {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #5a747b;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 20px; }
  .log .clear-log {
    padding: 0 12px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    border-radius: 5px;
    color: #44585d;
    display: block;
    margin: 0 auto; }

.move-badge {
  width: 24px;
  height: 24px;
  border-radius: 400px;
  padding: 4px;
  position: relative;
  user-select: none; }
  .move-badge img {
    width: 16px;
    height: 16px;
    display: block;
    float: left; }
  .move-badge.red {
    background-color: #ec6164; }
  .move-badge.green {
    background-color: #4af961; }
  .move-badge.blue {
    background-color: #3ac2fe; }
  .move-badge.white {
    background-color: #e3e3db; }
  .move-badge.yellow {
    background-color: #cef756; }
  .move-badge.orange {
    background-color: #f9802a; }

nav.nav {
  min-height: 56px;
  overflow: hidden;
  width: 100%;
  padding: 8px 14px;
  padding-right: 0;
  background-color: #fdfdfd;
  box-shadow: 0 0 20px rgba(123, 151, 158, 0.25);
  border-bottom: 1px solid #d6dee1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  transition: padding-right ease-in-out 0.35s; }
  @media only screen and (max-width: 1000px) {
    nav.nav {
      padding-right: 14px; } }
  @media only screen and (min-width: 1321px) {
    body.log-open nav.nav {
      padding-right: 320px; } }
  nav.nav > * {
    display: block;
    float: left;
    height: 40px; }
  nav.nav > .logo {
    cursor: pointer;
    user-select: none; }
    nav.nav > .logo > * {
      display: block;
      float: left; }
      @media only screen and (max-width: 1000px) {
        nav.nav > .logo > * {
          display: inline-block;
          float: none;
          vertical-align: top; } }
    nav.nav > .logo img {
      box-sizing: content-box;
      height: 40px;
      width: auto;
      transform: scale(0.8);
      margin-right: 5.6px; }
      @media only screen and (max-width: 1000px) {
        nav.nav > .logo img {
          margin-right: 2px; } }
    nav.nav > .logo h1 {
      margin: 0;
      line-height: 40px;
      height: 40px;
      font-size: 23.2px;
      font-family: 'Oswald', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-transform: uppercase;
      color: #3a4a4e;
      font-weight: 500;
      position: relative;
      min-width: 80px;
      transition: box-shadow 0.2s; }
      nav.nav > .logo h1 span {
        position: absolute;
        height: 100%;
        width: auto;
        left: 0;
        top: 0;
        transition: opacity 0.2s, left 0.2s;
        opacity: 1; }
      nav.nav > .logo h1 span.page-name {
        left: 6.4px;
        opacity: 0; }
      @media only screen and (max-width: 1000px) {
        nav.nav > .logo h1 {
          font-size: 17.6px; }
          nav.nav > .logo h1 span.site-name {
            font-size: 20.8px; } }
  @media only screen and (max-width: 1000px) {
    nav.nav:not(.menu-open) > .logo h1 {
      padding-left: 6.4px;
      box-shadow: -8px 0 0 -7px #ccc; }
      nav.nav:not(.menu-open) > .logo h1 span.site-name {
        opacity: 0; }
      nav.nav:not(.menu-open) > .logo h1 span.page-name {
        opacity: 1; } }
  nav.nav > .links {
    float: right;
    font-size: 0;
    display: flex;
    align-items: center;
    margin-right: 13.6px; }
    nav.nav > .links > * {
      display: inline-block;
      font-size: 15.2px;
      line-height: 1.2;
      font-weight: 500;
      color: #6c8c93;
      text-decoration: none;
      padding: 5.2px 13.6px;
      border-radius: 16000px;
      transition: color 0.2s, background-color 0.2s;
      cursor: pointer; }
      nav.nav > .links > * > i {
        margin-right: 5.6px;
        transform: translateY(5%); }
      nav.nav > .links > *:not(:first-child) {
        margin-left: 4px; }
      nav.nav > .links > *.active.red {
        color: #ea4f52;
        background-color: #fbdcdd; }
      nav.nav > .links > *.active.blue {
        color: #019ce0;
        background-color: #cdf0ff; }
      nav.nav > .links > *.active.green {
        color: #06af1c;
        background-color: #d0fdd6; }
      nav.nav > .links > *.active.yellow {
        color: #658506;
        background-color: #e6fba9; }
      nav.nav > .links > *.active.orange {
        color: #e96507;
        background-color: #fddfc9; }
      nav.nav > .links > *.active.purple {
        background-color: #e4d0ed;
        color: #6a3381; }
      nav.nav > .links > *:hover {
        background-color: #dee5e7;
        color: #648188; }
  nav.nav .menu-btn {
    border: none;
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
    flex-direction: column;
    float: right;
    display: none;
    width: 42.4px; }
    nav.nav .menu-btn .icon {
      position: relative;
      width: 100%;
      height: 100%;
      flex: 1 1 100%; }
      nav.nav .menu-btn .icon .line {
        height: 2.4px;
        background-color: #5a747b;
        transition: transform 0.2s, opacity 0.2s, width 0.2s, top 0.2s, margin-left 0.2s;
        width: 26.4px;
        opacity: 1;
        left: 0;
        position: absolute; }
        nav.nav .menu-btn .icon .line:nth-child(2) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
        nav.nav .menu-btn .icon .line:first-child {
          top: 0; }
        nav.nav .menu-btn .icon .line:last-child {
          top: calc(100% - 2.4px); }
    @media only screen and (max-width: 1000px) {
      nav.nav .menu-btn {
        display: flex; } }
  @media only screen and (max-width: 1000px) {
    nav.nav > .links {
      width: 100%;
      clear: both;
      margin-right: 0;
      height: auto;
      text-align: center;
      overflow-y: hidden;
      display: block;
      margin-top: 8px;
      transition: height 0.2s, margin-top 0.2s;
      --current-height: 0;
      height: var(--current-height) !important; }
    nav.nav:not(.menu-open) > .links {
      height: 0 !important;
      margin-top: 0 !important; }
    nav.nav.menu-open .menu-btn .line:first-child,
    nav.nav.menu-open .menu-btn .line:last-child {
      width: 33.9408px;
      margin-left: -3.7696px;
      top: 50%; }
    nav.nav.menu-open .menu-btn .line:first-child {
      transform: translate(0%, -50%) rotate(45deg); }
    nav.nav.menu-open .menu-btn .line:nth-child(2) {
      opacity: 0; }
    nav.nav.menu-open .menu-btn .line:last-child {
      transform: translate(0%, -50%) rotate(-45deg); } }
  @media only screen and (max-width: 650px) {
    nav.nav > .links {
      margin-top: 4px; }
      nav.nav > .links > * {
        display: block;
        width: 100%;
        margin-top: 4px;
        margin-left: 0 !important;
        padding: 8px 13.6px;
        width: calc(50% - 4px);
        text-align: left;
        float: left; }
        nav.nav > .links > *:nth-child(2n) {
          margin-left: 8px !important; }
        nav.nav > .links > * > i {
          width: 20px;
          text-align: center; } }

.cube-container {
  --perspective: 500px;
  perspective: var(--perspective);
  perspective-origin: 50% 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 0 0 100%; }

.cube-container,
.cube-container * {
  font-size: 16.8px;
  user-select: none; }

.cube-container > .cube {
  width: 10em;
  height: 10em;
  perspective: 0;
  transform-style: preserve-3d;
  margin-bottom: 5%;
  transform: rotateX(-30deg) rotateY(-45deg);
  cursor: move; }

.cube-container > .cube:not(.no-transition) {
  transition: transform 0.5s; }

.cube-container > .cube > .face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: inherit;
  color: transparent;
  box-sizing: border-box;
  --margin: 0.8em;
  --size: calc(33.33% - (var(--margin) / 3)); }

.cube-container > .cube > .face > .row,
.cube-container > .cube > .face > .col {
  display: block;
  float: left;
  box-sizing: border-box;
  background-color: #000; }

.cube-container > .cube > .face > .row {
  width: 100%;
  clear: both;
  height: 33.3333%; }

.cube-container > .cube > .face > .row > .cubelet {
  height: 100%;
  width: var(--size); }

.cube-container > .cube > .face > .col {
  height: 100%;
  width: 33.3333%; }

.cube-container > .cube > .face > .col > .cubelet {
  width: 100%;
  height: var(--size); }

.cube-container > .cube > .face > .col:first-child > .cubelet,
.cube-container > .cube > .face > .row > .cubelet:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.cube-container > .cube > .face > .col:last-child > .cubelet,
.cube-container > .cube > .face > .row > .cubelet:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.cube-container > .cube > .face > .col > .cubelet:last-child,
.cube-container > .cube > .face > .row:last-child > .cubelet {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.cube-container > .cube > .face > .col > .cubelet:first-child,
.cube-container > .cube > .face > .row:first-child > .cubelet {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.cube-container > .cube > .face > * > .cubelet {
  display: block;
  float: left;
  border-radius: 8px;
  background-color: var(--background-color); }

.cube-container > .cube > .face > .col,
.cube-container > .cube > .face > .row {
  padding: calc(var(--margin) / 4); }

.cube-container > .cube > .face > .row > .cubelet:not(:last-child) {
  margin-right: calc(var(--margin) / 2); }

.cube-container > .cube > .face > .col > .cubelet:not(:last-child) {
  margin-bottom: calc(var(--margin) / 2); }

.cube-container > .cube > .face.fake {
  background-color: #000; }

.cube-container > .cube > .face.fake-front {
  transform: translateZ(1.63em); }

.cube-container > .cube > .face.fake-back {
  transform: rotateY(180deg) translateZ(1.63em); }

.cube-container > .cube > .face.fake-right {
  transform: rotateY(90deg) translateZ(1.63em); }

.cube-container > .cube > .face.fake-left {
  transform: rotateY(-90deg) translateZ(1.63em); }

.cube-container > .cube > .face.fake-top {
  transform: rotateX(90deg) translateZ(1.63em); }

.cube-container > .cube > .face.fake-bottom {
  transform: rotateX(-90deg) translateZ(1.63em); }

.cube-container .no-display,
.cube-container > .cube > .face.fake:not(.active) {
  opacity: 0 !important; }

.cube-container > .cube .cubelet[cubelet-color='green'] {
  --background-color: #4af961; }

.cube-container > .cube .cubelet[cubelet-color='blue'] {
  --background-color: #3ac2fe; }

.cube-container > .cube .cubelet[cubelet-color='red'] {
  --background-color: #ec6164; }

.cube-container > .cube .cubelet[cubelet-color='orange'] {
  --background-color: #f9802a; }

.cube-container > .cube .cubelet[cubelet-color='white'] {
  --background-color: #e3e3db; }

.cube-container > .cube .cubelet[cubelet-color='yellow'] {
  --background-color: #cef756; }

.cube-area-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d6dee1;
  border-radius: 4px;
  margin: 24px 0;
  background-color: #fbfcfc; }
  .cube-area-component.hidden {
    display: none; }
  .cube-area-component .center-cube {
    height: 304px;
    width: 304px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.95); }
  .cube-area-component .tip {
    text-align: center;
    color: #7b979e;
    opacity: 0.7;
    font-size: 12.8px; }
  .cube-area-component .scramble-notation {
    width: 100%;
    text-align: center;
    padding: 0 16px;
    font-size: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
    grid-gap: 2.4px;
    margin-bottom: 16px; }
  .cube-area-component .active-move {
    display: flex;
    justify-content: center;
    padding-bottom: 8px; }
    .cube-area-component .active-move > * {
      height: 32px;
      line-height: 32px;
      margin: 0 !important; }
      .cube-area-component .active-move > *:not(:last-child) {
        margin-right: 12px !important; }
      .cube-area-component .active-move > *.move-number {
        margin-right: 4px !important; }
      .cube-area-component .active-move > *.move,
      .cube-area-component .active-move > *.move * {
        line-height: 24px !important; }
    .cube-area-component .active-move button {
      border: none;
      background-color: transparent;
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 0.2s;
      padding: 0 1.6px; }
      .cube-area-component .active-move button.disabled {
        pointer-events: none;
        opacity: 0.1; }
      .cube-area-component .active-move button:hover {
        opacity: 1; }
      .cube-area-component .active-move button i {
        transform: translateY(1.6px);
        font-size: 16px;
        color: #5a747b; }
  .cube-area-component .scramble-notation button,
  .cube-area-component .active-move .move {
    text-align: left;
    font-size: 14.4px;
    margin-top: 5.6px;
    margin-right: 5.6px;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    color: #44585d;
    line-height: 1.2;
    position: relative; }
    .cube-area-component .scramble-notation button:not(.not-button),
    .cube-area-component .active-move .move:not(.not-button) {
      cursor: pointer;
      background-color: #f0f3f4;
      transition: background-color 0.15s; }
    .cube-area-component .scramble-notation button.not-button,
    .cube-area-component .active-move .move.not-button {
      border: 1px solid #d6dee1;
      width: 64px; }
    .cube-area-component .scramble-notation button:not(.not-button):hover,
    .cube-area-component .active-move .move:not(.not-button):hover {
      background-color: #e4eaeb; }
    .cube-area-component .scramble-notation button.active,
    .cube-area-component .active-move .move.active {
      background-color: #d6dee1 !important; }
    .cube-area-component .scramble-notation button *,
    .cube-area-component .active-move .move * {
      line-height: 1.2;
      display: inline-block; }
    .cube-area-component .scramble-notation button .number,
    .cube-area-component .active-move .move .number {
      display: none; }
    .cube-area-component .scramble-notation button .move-badge,
    .cube-area-component .active-move .move .move-badge {
      position: absolute;
      right: 1.6px;
      top: 50%;
      transform: translateY(-50%) scale(0.85);
      box-shadow: 0 0 4.8px rgba(0, 0, 0, 0.1); }
    .cube-area-component .scramble-notation button .face-view,
    .cube-area-component .active-move .move .face-view {
      display: none; }

.stopwatch {
  display: none;
  position: fixed;
  top: calc(100vh - 44px);
  box-shadow: 0 4px 20px rgba(123, 151, 158, 0.5);
  width: 10rem;
  max-width: 90%;
  width: 280px;
  min-height: 44px;
  z-index: 999999999999;
  left: 12.8px;
  background-color: #ffffff;
  border-radius: 6px;
  transition: left 0.5s, top 0.5s; }

.page[data-page='simulator'].active ~ .stopwatch {
  display: block; }

.stopwatch.dragging {
  transition-duration: 0s !important; }

.stopwatch.closed {
  cursor: pointer; }

.stopwatch:not(.closed) {
  top: var(--y);
  left: var(--x); }

.stopwatch header {
  position: relative;
  height: 44px;
  padding: 0 16px;
  user-select: none;
  border-bottom: 1px solid #d6dee1; }

.stopwatch header * {
  height: 44px;
  line-height: 44px; }

.stopwatch header p {
  margin: 0;
  font-weight: 500;
  color: #44585d;
  font-size: 17.6px;
  transition: color 0.2s; }

.stopwatch header i {
  color: #5a747b;
  position: absolute;
  right: 0;
  padding: 0 16px;
  top: 50%;
  transform: translateY(-45%);
  font-size: 15.2px;
  transition: transform 0.2s, color 0.2s; }

.stopwatch:not(.closed) i {
  transform: translateY(-55%) rotate(180deg); }

.stopwatch.closed header:hover * {
  color: #2188ff; }

.stopwatch.closed:hover header i {
  transform: translateY(-45%) scale(1.1); }

.stopwatch:not(.closed) header {
  cursor: move; }

.stopwatch:not(.closed) header i {
  cursor: pointer; }

.stopwatch:not(.closed) header i:hover {
  transform: translateY(-55%) rotate(180deg) scale(1.1);
  color: #2188ff; }

.stopwatch .stopwatch-container .time {
  padding: 16px 0;
  padding-bottom: 0;
  text-align: center;
  color: #44585d; }

.stopwatch .stopwatch-container .time > * {
  display: inline-block;
  font-size: 28px; }

.stopwatch .stopwatch-container .time > .small-digits,
.stopwatch .stopwatch-container .time > .unit {
  font-size: 18.4px;
  vertical-align: baseline; }

.stopwatch .stopwatch-container .time > .unit {
  margin-right: 4px; }

.stopwatch .stopwatch-container .buttons {
  padding: 12px;
  padding-bottom: 0;
  display: flex; }

.stopwatch .stopwatch-container .buttons > * {
  flex: 0 1 100%;
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 15.2px; }

.stopwatch .stopwatch-container .buttons > *:first-child {
  margin-right: 12px;
  color: #ffffff;
  background-color: #2188ff; }

.stopwatch .stopwatch-container .buttons > *:first-child:hover {
  opacity: 0.9; }

.stopwatch .stopwatch-container .buttons > *:first-child:active {
  opacity: 1; }

.stopwatch .stopwatch-container > p {
  text-align: center;
  color: #7b979e;
  font-size: 14.4px;
  line-height: 1.35;
  margin-bottom: 8px; }

.columned-page {
  display: flex;
  color: #5a747b; }
  @media only screen and (max-width: 1000px) {
    .columned-page {
      flex-direction: column; } }
  .columned-page .column {
    flex: 1 1 40%;
    overflow-y: scroll;
    text-align: center;
    padding: 24px; }
    .columned-page .column .description {
      margin-bottom: 16px;
      font-size: 16px;
      color: #5a747b !important;
      opacity: 0.7; }
    @media only screen and (max-width: 1000px) {
      .columned-page .column {
        flex-basis: 100% !important;
        padding: 16px;
        padding-bottom: 24px; } }
    .columned-page .column:first-child {
      background-color: #f2f5f6; }
      .columned-page .column:first-child .new-scramble {
        margin-top: 12px;
        background-color: #fff;
        padding: 0 16px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        border-radius: 5px; }
      .columned-page .column:first-child .scramble-moves-container {
        margin-top: 8px;
        text-align: center;
        width: 100%; }
        .columned-page .column:first-child .scramble-moves-container > * {
          display: inline-block; }
        .columned-page .column:first-child .scramble-moves-container input {
          width: 64px;
          text-align: center;
          border: 1px solid #a8bbbf;
          border-radius: 4px;
          color: #44585d;
          opacity: 0.8;
          outline: none;
          margin: 0 8px;
          padding: 4px 0;
          display: inline-block;
          transition: opacity 0.2s; }
          .columned-page .column:first-child .scramble-moves-container input:focus {
            opacity: 1; }
    .columned-page .column:last-child {
      padding-bottom: 0;
      flex-basis: 60%; }
      .columned-page .column:last-child .title {
        margin-bottom: 16px; }
      .columned-page .column:last-child .moves {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-gap: 24px; }
        .columned-page .column:last-child .moves > .move-container:last-child {
          margin-bottom: 24px; }
        .columned-page .column:last-child .moves > .move-container .move-cube {
          height: 224px;
          display: flex;
          justify-content: center;
          align-items: center; }
        .columned-page .column:last-child .moves > .move-container .info {
          display: flex;
          justify-content: center;
          text-transform: capitalize; }
          .columned-page .column:last-child .moves > .move-container .info > * {
            height: 24px;
            line-height: 24px; }
          .columned-page .column:last-child .moves > .move-container .info .notation,
          .columned-page .column:last-child .moves > .move-container .info .face-view {
            font-weight: 500; }
          .columned-page .column:last-child .moves > .move-container .info .number {
            margin-right: 20px; }
          .columned-page .column:last-child .moves > .move-container .info .move-badge {
            margin-left: 20px; }
        .columned-page .column:last-child .moves .cube-container,
        .columned-page .column:last-child .moves .cube-container * {
          font-size: 12px !important; }
        .columned-page .column:last-child .moves .cube-container > .cube > .face {
          --margin: 0.6em !important; }

.page.solver {
  flex-direction: column !important;
  display: flex; }
  .page.solver .inner {
    background-color: #fdfdfd;
    overflow: hidden;
    width: 100%;
    flex: 1 1 100%; }
    .page.solver .inner > * > .title {
      margin-bottom: 0 !important; }
      @media only screen and (max-width: 1000px) {
        .page.solver .inner > * > .title {
          margin-top: 24px; } }
    .page.solver .inner .set-pieces {
      padding: 0 32px; }
      @media only screen and (max-width: 1000px) {
        .page.solver .inner .set-pieces {
          padding: 0;
          margin-bottom: 0; } }
    @media only screen and (max-width: 1000px) {
      .page.solver .inner .new-scramble {
        margin-top: 0 !important; } }
    .page.solver .inner .second-column .set-pieces {
      width: 100%; }
    @media only screen and (max-width: 1000px) {
      .page.solver .inner:not(.solving) {
        flex-direction: column-reverse !important; }
        .page.solver .inner:not(.solving) .new-scramble {
          margin-bottom: 32px; } }
    .page.solver .inner:not(.solving) .second-column > .title span:last-child {
      display: none; }
    .page.solver .inner:not(.solving) .second-column .moves {
      display: none; }
    .page.solver .inner:not(.solving) .scramble-notation,
    .page.solver .inner:not(.solving) .active-move {
      display: none; }
    .page.solver .inner.solving .second-column > .title span:first-child {
      display: none; }
    .page.solver .inner.solving .second-column .set-pieces {
      display: none; }
