.container > .col:nth-child(2) {
  background-color: lighten($page-grey, 2%);

  // each row is an image with a caption
  & > .row {
    flex-basis: 50%;
    flex-shrink: 1;
    width: 100%;
    position: relative;
    border-radius: br-bsize(1);
    overflow: hidden;
    font-size: 0;

    @include in-mobile-and-phone {
      height: bsize(20);
      flex-basis: bsize(20);
    }

    &:not(:last-child) {
      margin-bottom: bsize(1.5);

      @include in-phone {
        margin-bottom: bsize(0.75);
      }
    }

    & > .cube-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      $cube-grey: darken($container-grey, 10%);
      background: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
      display: flex;
      flex-direction: column;
    }

    .rotate-arrows img {
      position: absolute;
      width: 7rem;
      height: auto;
      opacity: 1;
      transition: opacity 0.2s;
      transform: translate(-50%, -50%);

      &.left-face {
      }
      &.top-face {
        bottom: 62%;
        left: 50%;
      }
      &.right-face {
      }

      &:hover {
        opacity: 1;
      }
    }

    .caption {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: bsize(0.75);
      color: $lightest-grey;
      background-color: rgba($page-grey, 0.15);
      border-top-left-radius: br-bsize(1);
      margin: 0;
      padding: 0 bsize(0.5);
      height: bsize(1.5);
      line-height: bsize(1.65);
    }
  }
}
