// logo bar
.col:first-child .logo {
  flex-basis: bsize(3.25);
  padding: 0 bsize(0.5) bsize(0.625) bsize(0.5);
  border-bottom: 1px solid $page-grey;
  margin-bottom: bsize(0.75);

  @include in-mobile-and-phone {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: bsize(0.5);
    text-align: center;
    zoom: 90%;
  }

  & > * {
    @include db-fl;

    @include in-mobile-and-phone {
      @include dib-fn-vt;
    }
  }

  img {
    box-sizing: content-box;
    height: bsize(1.25);
    margin-top: bsize(0.625);
    width: auto;
    margin-right: bsize(0.75);
    @include in-mobile-and-phone {
      display: none;
    }
  }

  h1 {
    @include m0;
    height: bsize(2.5);
    line-height: bsize(2.65);
    font-size: bsize(1.15);
    color: $dark-medium-grey;
    font-weight: 500;

    @include in-mobile-and-phone {
      display: none;
    }
  }

  .logo-buttons {
    display: block;
    float: right;
    @include in-mobile-and-phone {
      float: none;
      text-align: center;
    }
  }
}
