.col:first-child .logo .logo-buttons {
  @include in-phone {
    display: flex;

    .phone-no-display {
      display: none;
    }
  }

  & > * {
    padding: 0 bsize(0.75);
    height: bsize(2.25);
    line-height: bsize(2.25);
    font-size: bsize(1);
    border-radius: br-bsize(1.25);
    color: $dark-grey;
    display: block;
    margin: bsize(0.125) auto;

    @include dib-fn-vt;

    &:not(:last-child) {
      margin-right: bsize(0.5);
    }

    @include in-phone {
      flex-basis: 100%;
    }
  }
  .toggle-log {
    span {
      display: none;
    }
    &.log-open span.open {
      display: inline;
    }
    &:not(.log-open) span.closed {
      display: inline;
    }
  }
  .toggle-notation {
    span {
      display: none;
    }
    body.use-face-view & span.face-view {
      display: inline;
    }
    body:not(.use-face-view) & span.cube-notation {
      display: inline;
    }
  }
}
