// logo bar
.col:first-child .logo {
  flex-basis: bsize(3.25);
  padding: 0 bsize(0.5) bsize(0.75) bsize(0.5);
  border-bottom: 1px solid $page-grey;
  margin-bottom: bsize(0.75);

  @include in-mobile-and-phone {
    height: bsize(3);
    padding-bottom: bsize(0.5);
    text-align: center;
  }

  & > * {
    @include db-fl;

    @include in-mobile-and-phone {
      @include dib-fn-vt;
    }
  }

  img {
    height: bsize(2.5);
    width: auto;
    margin-right: bsize(1);
    @include in-mobile-and-phone {
      margin-right: bsize(0.625);
    }
  }

  h1 {
    @include m0;
    line-height: bsize(2.5);
    font-size: bsize(1.35);
    color: $dark-medium-grey;
    font-weight: 500;

    @include in-mobile-and-phone {
      font-size: bsize(1.25);

      // padding to compensate for centering to make text seem more centered
      padding-right: bsize(1.5);
    }
  }

  .logo-buttons {
    display: block;
    float: right;
    @include in-mobile-and-phone {
      float: none;
      text-align: center;
    }
  }
}
