ul.misc-buttons {
  color: $dark-grey;
  list-style: none;
  padding: 0;
  margin: bsize(1.5) 0;

  @include in-mobile-and-phone {
    margin: bsize(0.75) 0;
  }

  @include in-phone {
    display: flex;
    flex-direction: row;
  }

  li {
    min-height: bsize(2.25);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    @include in-phone {
      flex-basis: 100%;
    }

    &:not(:last-child) {
      margin-bottom: bsize(1);

      @include in-phone {
        margin-bottom: 1px;
        margin-right: bsize(0.75);
      }
    }

    button {
      padding: 0 bsize(0.75);
      height: bsize(2.25);
      line-height: bsize(2.25);
      font-size: bsize(1);
      border-radius: br-bsize(1.25);

      @include in-phone {
        flex-basis: 100%;

        span.mobile-no-display {
          display: none;
        }
      }
    }
    p {
      flex-basis: 0%;
      flex-grow: 1;
      transform: translateY(1px);
      min-height: bsize(2.25);

      font-size: bsize(0.9);

      padding: bsize(0.375) 0 bsize(0.375) bsize(1);
      line-height: bsize(1.5);
      margin: 0;
      opacity: 0.55;
      overflow: hidden;

      @include in-phone {
        display: none;
      }
    }
  }
}
