// moves list
.col:first-child .moves .content .move-buttons {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: bsize(1.5);

  @include in-mobile-and-phone {
    margin-top: bsize(0.75);
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: bsize(3);

    @include in-phone {
      min-height: bsize(2.5);
    }

    list-style: none;
    @include p0;
    @include m0;

    &:not(:last-child) {
      margin-bottom: bsize(1.5);

      @include in-phone {
        margin-bottom: bsize(0.75);
      }
    }

    li {
      color: $dark-grey;
      flex-basis: 100%;

      display: flex;
      flex-direction: row;

      &:not(:last-child) {
        margin-right: bsize(1.5);

        @include in-phone {
          margin-right: bsize(0.75);
        }
      }

      & > * {
        @include db-fl;
        margin: 0;
        height: bsize(3);
        line-height: bsize(3);

        @media only screen and (max-width: 530px), (min-width: #{$page-mobile-width + 1px}) and (max-width: 1075px) {
          clear: both;
        }
      }

      button {
        flex-basis: bsize(3);
        position: relative;

        @include in-phone {
          flex-basis: 100%;
          height: bsize(2.5);
          line-height: bsize(2.5);
        }

        body:not(.use-face-view) & .rotate_icon {
          display: none;
        }

        .rotate_icon {
          width: auto;
          height: 75%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        body.use-face-view & {
          background-size: 85%;
          background-position: center;
          background-repeat: no-repeat;

          &:active,
          &:focus {
            box-shadow: 0 bsize(0.075) bsize(0.3) rgba($dark-grey, 0.35);
          }

          span {
            display: none;
          }

          &.red {
            background-color: $cube-red;
          }
          &.green {
            background-color: $cube-green;
          }
          &.blue {
            background-color: $cube-blue;
          }
          &.white {
            background-color: $cube-white;
          }
          &.yellow {
            background-color: $cube-yellow;
          }
          &.orange {
            background-color: $cube-orange;
          }

          &.clockwise {
            .rotate_icon.counterclockwise {
              display: none;
            }
          }
          &.counterclockwise {
            .rotate_icon.clockwise {
              display: none;
            }
          }

          &.yellow,
          &.white {
            .rotate_icon:not(.dark) {
              display: none;
            }
          }
          &:not(.yellow):not(.white) {
            .rotate_icon.dark {
              display: none;
            }
          }
        }
      }

      p {
        padding-left: bsize(0.75);
        opacity: 0.5;

        strong {
          font-weight: 500;
        }

        @include in-phone {
          display: none;
        }
      }
    }
  }
}
