nav.nav {
  min-height: bsize(3.5);
  overflow: hidden;
  width: 100%;
  padding: bsize(0.5) bsize(0.875);
  padding-right: 0;
  background-color: $container-grey;
  box-shadow: 0 0 bsize(1.25) rgba($medium-grey, 0.25);
  border-bottom: 1px solid $lightest-grey;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  transition: padding-right ease-in-out $log-transition-duration;

  @include in-mobile-and-phone {
    padding-right: bsize(0.875);
  }

  @media only screen and (min-width: $min-log-change-width) {
    body.log-open & {
      padding-right: $log-width;
    }
  }

  & > * {
    display: block;
    float: left;
    height: bsize(2.5);
  }
  & > .logo {
    cursor: pointer;
    user-select: none;
    & > * {
      @include db-fl;

      @include in-mobile-and-phone {
        @include dib-fn-vt;
      }
    }

    img {
      box-sizing: content-box;
      height: bsize(2.5);
      width: auto;
      transform: scale(0.8);
      margin-right: bsize(0.35);
      @include in-mobile-and-phone {
        margin-right: bsize(0.125);
      }
    }

    h1 {
      @include m0;
      line-height: bsize(2.5);
      font-size: bsize(1.45);
      font-family: 'Oswald', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
      text-transform: uppercase;
      color: $darkest-grey;
      font-weight: 500;

      @include in-mobile-and-phone {
        font-size: bsize(1.3);
        // padding to compensate for centering to make text seem more centered
        padding-right: bsize(0.5);
      }
    }
  }
  & > .links {
    float: right;
    font-size: 0;
    display: flex;
    align-items: center;
    margin-right: bsize(0.85);

    & > * {
      display: inline-block;
      font-size: bsize(0.95);
      line-height: 1.2;
      font-weight: 500;
      color: darken($grey-base-color, 16.5%);
      text-decoration: none;
      padding: bsize(0.325) bsize(0.85);
      border-radius: bsize(1000);
      transition: color 0.2s, background-color 0.2s;
      cursor: pointer;

      & > i {
        margin-right: bsize(0.35);
        transform: translateY(5%);
      }

      &:not(:first-child) {
        margin-left: bsize(0.25);
      }
      &.active.red {
        color: darken($cube-red, 4%);
        background-color: lighten($cube-red, 27%);
      }
      &.active.blue {
        color: darken($cube-blue, 17%);
        background-color: lighten($cube-blue, 29%);
      }
      &.active.green {
        color: darken($cube-green, 28%);
        background-color: lighten($cube-green, 27%);
      }
      &.active.yellow {
        color: darken($cube-yellow, 38%);
        background-color: lighten($cube-yellow, 17%);
      }
      &.active.orange {
        color: darken($cube-orange, 10%);
        background-color: lighten($cube-orange, 32%);
      }
      &.active.purple {
        $purple: #8e44ad;
        background-color: lighten($purple, 40%);
        color: darken($purple, 12%);
      }
      &:hover {
        background-color: lighten($grey-base-color, 22%);
        color: darken($grey-base-color, 20.5%);
      }
    }
  }
  .menu-btn {
    border: none;
    background-color: transparent;
    padding: bsize(0.5);
    cursor: pointer;
    flex-direction: column;
    float: right;
    display: none;
    width: bsize(2.65);

    .icon {
      position: relative;
      width: 100%;
      height: 100%;
      flex: 1 1 100%;

      .line {
        height: bsize(0.15);
        background-color: $dark-medium-grey;
        transition: transform 0.2s, opacity 0.2s, width 0.2s, top 0.2s, margin-left 0.2s;
        width: bsize(1.65);
        opacity: 1;
        left: 0;
        position: absolute;

        &:nth-child(2) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:first-child {
          top: 0;
        }
        &:last-child {
          top: calc(100% - #{bsize(0.15)});
        }
      }
    }

    @include in-mobile-and-phone {
      display: flex;
    }
  }
  @include in-mobile-and-phone {
    & > .links {
      width: 100%;
      clear: both;
      margin-right: 0;
      height: auto;
      text-align: center;
      overflow-y: hidden;
      display: block;
      margin-top: bsize(0.5);
      transition: height 0.2s, margin-top 0.2s;
      --current-height: 0;
      height: var(--current-height) !important;
    }
    &:not(.menu-open) {
      & > .links {
        height: 0 !important;
        margin-top: 0 !important;
      }
    }
    &.menu-open {
      .menu-btn {
        .line:first-child,
        .line:last-child {
          width: bsize(2.1213);
          margin-left: bsize(-0.2356);
          top: 50%;
        }
        .line:first-child {
          transform: translate(0%, -50%) rotate(45deg);
        }
        .line:nth-child(2) {
          opacity: 0;
        }
        .line:last-child {
          transform: translate(0%, -50%) rotate(-45deg);
        }
      }
    }
  }
  @include in-phone {
    & > .links {
      margin-top: bsize(0.25);
      & > * {
        display: block;
        width: 100%;
        margin-top: bsize(0.25);
        margin-left: 0 !important;
        padding: bsize(0.5) bsize(0.85);
        width: calc(50% - #{bsize(0.25)});
        text-align: left;
        float: left;
        &:nth-child(2n) {
          margin-left: bsize(0.5) !important;
        }
        & > i {
          width: bsize(1.25);
          text-align: center;
        }
      }
    }
  }
}
