.openable-section {
  &.closed {
    .content {
      max-height: 0;
    }
    .label .icon {
      transform: translateY(-50%) rotate(-90deg);
    }
  }

  .label {
    position: relative;
    cursor: pointer;
    height: bsize(3.5);
    width: 100%;
    border: none;
    margin-bottom: 2px;
    padding: bsize(0.25) bsize(0.85);
    background-color: transparent;
    color: $dark-grey;
    box-shadow: 0 1px 0 darken($page-grey, 5%);

    &::after {
      content: '';
      clear: both;
    }

    & > * {
      @include db-fl;

      margin: 0;

      height: bsize(3);
      line-height: #{bsize(3, false) + 1}px;
      font-size: bsize(1.15);
    }

    .icon {
      position: absolute;
      top: 50%;
      right: bsize(0.85);
      font-size: bsize(1.35);
      transform: translateY(-45%);
      transition: transform 0.25s;
    }

    @include in-phone {
      padding: bsize(0.25) bsize(0.65);
      height: bsize(2.5);

      & > * {
        height: bsize(2);
        line-height: #{bsize(2, false) + 1}px;
        font-size: bsize(1);
      }
      .icon {
        font-size: bsize(1.1);
        line-height: bsize(2.3);
      }
    }
  }

  .content {
    --current-height: 0;
    transition: max-height 0.25s ease-in-out, opacity 0.25s ease-in-out;
    overflow: hidden;
    height: auto;
    max-height: var(--current-height);

    & > * {
      padding-left: bsize(0.45);
      padding-right: bsize(0.45);
      box-sizing: border-box;
    }
  }
}
