.styled-button {
  border: 1px solid transparent;
  background-color: lighten($page-grey, 1.5%);
  color: inherit;
  text-align: center;
  border-radius: br-bsize(2);
  font-size: bsize(1.15);
  outline: none;
  box-shadow: 0 bsize(0.05) bsize(0.2) rgba($dark-grey, 0.35);

  backface-visibility: hidden;

  $transition-duration: 0.1s;
  $transition-timing: ease-in-out;

  transition: box-shadow $transition-duration $transition-timing, background-color $transition-duration $transition-timing,
    transform $transition-duration $transition-timing, opacity $transition-duration $transition-timing;

  &:not([disabled]) {
    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 bsize(0.1) bsize(0.4) rgba($dark-grey, 0.45);
      }
    }

    &:active,
    &:focus {
      transform: translateY(0);
      background-color: darken($page-grey, 2.5%);
    }
  }
}
